:root {
    box-sizing: border-box;
}

body{
    background-color: bisque
}

.row{
    margin: 0;
    padding: 0;
    height: 30px;
}

.cell{
    display: inline-block;
    border: 1px dotted whitesmoke;
    background-color: brown;
    margin: 0;
}